@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --color-primary-800: hsl(300, 43%, 22%);
  --color-primary-300: hsl(333, 80%, 67%);

  --color-neutral-500: hsl(303, 10%, 53%);
  --color-neutral-200: hsl(300, 24%, 96%);
  --color-neutral-100: hsl(0, 0%, 100%);

  --font-family-default: "League Spartan", sans-serif;
  --font-size-md: 0.9375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

.icon-star {
  display: inline-block;
  width: 17px;
  height: 16px;
  background-image: url("./images/icon-star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
